# Configuration des services Griiv PrestaShop Module Contracts
#
# Les services avec l'attribut #[AsPrestaShopHook] seront automatiquement
# tagués avec 'prestashop.hook' grâce au PrestaShopHookCompilerPass.
#
# Pour activer cette fonctionnalité, enregistrez le CompilerPass dans votre module :
# $container->addCompilerPass(new PrestaShopHookCompilerPass());
#
# Voir USAGE_ATTRIBUTE.md pour plus de détails

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  griiv.prestashop.module.contracts.context:
    class: Context
    factory: [ 'Context', 'getContext' ]


  griiv.prestashop.module.contracts.hook.hook:
    class: Griiv\Prestashop\Module\Contracts\Hook\Hook
    public: true
    arguments:
      - '@griiv.prestashop.module.contracts.context'